
body{
    margin: 0;
    padding: 0;
}

header{
background-color: black;
color: white;
display: flex;
height: 110px;
}
.movendo{
    display: inline-flex;
   margin: auto;
    
}
.movendo > p {
    margin: 10px;   
   
}
/*modulo um falta arruma pagina principal */
aside{ 
    background-color: black;
    color: white;
    height: 400px;
    display: block;
    display: flex;
    
    
}
.outros{
    text-align: center;
   width: 400px;
   height: 250px;
   margin-left: 70px;
   margin-top: 30px;
   
}
.visita{
    background-color: #3FAA0F;
    width: 157px;
    height: 47px;
    border-radius: 15px;
    color: rgb(250, 250, 2500);
    width: 157px;
    height: 47px;
    
}
/*Modulo ||| */
main{
   text-align: center;
   
}
#wind_img{
    width: 40%;
}


@media (min-width:  600px){
    .text_main{ 
        max-width: 80%;
        margin: auto;
        padding: 10px;
    }
    .gestao_de_imagens{
        display: flex;
    }
}

@media (max-width:  600px){
    .text_main{ 
        max-width: 50%;
        margin: auto;
        padding: 15px;
    }
}
form > h3{
    text-align: center;
    
}
.imagns_h3 > img{
    width: 388px;
    height: 600px;
    
}
.imagns_h3{
    display: block;
    margin: 0px auto;

}
.fex{
    display: inline-flex;
    width: 100%;
}
.opicao{
    position: relative;
    right: 100px;
    width: 40%;
    top: 75px;
}