body{
    margin: 0;
    padding: 0;
}

header{
background-color: black;
color: white;
display: flex;
height: 110px;
}
.movendo{
    display: inline-flex;
   margin: auto;
    
}
.movendo > p {
    margin: 10px;   
   
}